body {
	margin: 0px;
}
.win {
	z-index: 1;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}
.options {
	z-index: 1;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: black;
}
.backmenu {
	z-index: 1;
	position: absolute;
	height: 100vh;
	width: 100vw;
	background: transparent;
}
.back {
	font-size: 25px;
	background-color: transparent;
	color: white;
	border-radius: 15px;
}
h1 {
	font-size: 50px;
	color: yellow;
	display: block;
}
.hidden {
	display: none !important;
}
.options button:hover {
	border-color: rgb(80, 112, 255);
	border-radius: 15px;
	padding: 15px;
}
.options button:focus {
	background-color: rgb(80, 112, 255);
	border-radius: 15px;
	color: black;
	padding: 15px;
}
.options button.start:hover {
	border-color: rgb(73, 231, 81) !important;
	border-radius: 50% !important;
	height: 150px;
	width: 150px;
}
.options button.start:focus {
	border-color: white !important;
	background-color: rgb(73, 231, 81) !important;
	border-radius: 50% !important;
	color: black;
	height: 150px;
	width: 150px;
}
.options button {
	font-size: 40px;
	border-radius: 15px;
	color: white;
	background: transparent;
	padding: 15px;
}

.start {
	border-radius: 50% !important;
	height: 150px;
	width: 150px;
}
button.restart {
	font-size: 50px;
	background-color: transparent;
	border: none;
}
.fa-redo {
	color: white;
	background-color: transparent;
}
